build
.vscode/settings.json
build_emscripten/CMakeFiles
build_emscripten/External
build_emscripten/CMakeCache.txt
build_emscripten/cmake_install.cmake
build_emscripten/Editor.js
build_emscripten/Editor.wasm
build_emscripten/libNexusEngine.a
build_emscripten/Makefile
.vs
build_emscripten/Editor/CMakeFiles
build_emscripten/Editor/Resources
build_emscripten/Editor/brick.jpg
build_emscripten/Editor/cmake_install.cmake
build_emscripten/NexusEngine
build_emscripten/Test
build_emscripten/SDL2ConfigVersion.cmake
build_emscripten/Editor/Editor.js
build_emscripten/Editor/Editor.wasm
build_emscripten/Editor/Makefile
build_emscripten/Editor/wall.jpg
build_emscripten/_deps
build_emscripten/Demo/CMakeFiles
build_emscripten/Demo/cmake_install.cmake
build_emscripten/Demo/Demo.data
build_emscripten/Demo/Demo.js
build_emscripten/Demo/Demo.wasm
build_emscripten/Demo/Makefile
build_emscripten/lib
build_emscripten/include
build_emscripten/SPIRV-ToolsConfig.cmake
*.cmake
