[submodule "External/assimp"]
	path = src/Nexus/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/imgui/imgui"]
	path = src/Nexus/external/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/imgui/imguizmo"]
	path = src/Nexus/external/imgui/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "External/shaderc"]
	path = src/Nexus/external/shaderc
	url = https://github.com/google/shaderc.git
[submodule "External/SPIRV-Tools"]
	path = src/Nexus/external/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "External/SPIRV-Headers"]
	path = src/Nexus/external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "External/glslang"]
	path = src/Nexus/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "External/effcee"]
	path = src/Nexus/external/effcee
	url = https://github.com/google/effcee.git
[submodule "External/re2"]
	path = src/Nexus/external/re2
	url = https://github.com/google/re2.git
[submodule "External/SPIRV-Cross"]
	path = src/Nexus/external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "External/OpenAL-Soft"]
	path = src/Nexus/external/OpenAL-Soft
	url = https://github.com/kcat/openal-soft.git
[submodule "External/VulkanMemoryAllocator"]
	path = src/Nexus/external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/pocketpy"]
	path = src/Nexus/external/pocketpy
	url = https://github.com/blueloveTH/pocketpy.git
