build
cppcheck_report.txt
.vs
CMakeCache.txt
Testing
src/Demo/android/.idea
android-project/app/.cxx
src/Demo/android/app/src/main/libs
android-project/.gradle
android-project/.idea
.vscode
CMakeFiles/TargetDirectories.txt
cmake_install.cmake
docs/rtf
docs/docbook
docs/html
docs/latex
