build
external/assimp
external/effcee
external/freetype
external/glm
external/glslang
external/imgui/imgui
external/imgui/imguizmo
external/json
external/libnyquist
external/OpenAL-Soft
external/pocketpy
external/re2
external/SDL
external/SDL_net
external/shaderc
external/SPIRV-Cross
external/SPIRV-Headers
external/SPIRV-Tools
external/stb
external/VulkanMemoryAllocator
external/yaml-cpp
