[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "External/Lua"]
	path = External/Lua
	url = https://github.com/walterschell/Lua.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/imgui/imgui"]
	path = External/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/imgui/imguizmo"]
	path = External/imgui/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "External/nativefiledialog-extended"]
	path = External/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/shaderc"]
	path = External/shaderc
	url = https://github.com/google/shaderc.git
[submodule "External/SPIRV-Tools"]
	path = External/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "External/SPIRV-Headers"]
	path = External/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "External/glslang"]
	path = External/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "External/effcee"]
	path = External/effcee
	url = https://github.com/google/effcee.git
[submodule "External/re2"]
	path = External/re2
	url = https://github.com/google/re2.git
[submodule "External/SPIRV-Cross"]
	path = External/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
